# Data Structures 

## LIST

#### ways to extend a list with another list

In [2]:
l1 = [1,2,3,4,5]
l2 = [4,2,6,2,0]

l1.extend(l2)
l1

l2.extend([3])

l2

l3 = l1 + l2
l3

[1, 2, 3, 4, 5, 4, 2, 6, 2, 0]

[4, 2, 6, 2, 0, 3]

[1, 2, 3, 4, 5, 4, 2, 6, 2, 0, 4, 2, 6, 2, 0, 3]

#### multiple references to the same list

In [3]:
a = [1,2,3,4,5]
b = a
b.append(6)
a
b
c = a.copy()
c.append(7)
a,b,c

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

([1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7])

#### Transpose a matrix

In [4]:



A = [
	[1,2,3],
	[4,5,6],
	[7,8,9]
]

for i in range(len(A)):
	for j in range(i+1,len(A)):
		A[i][j], A[j][i] = A[j][i], A[i][j]

A

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [5]:

B = [
	[1,2,3,4],
	[5,6,7,8],
	[9,10,11,12]
]

C = []
for i in range(len(B[0])):
	l = []
	for j in range(len(B)):
		l.append(B[j][i])
	C.append(l) 
C

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

## TUPLES

In [9]:
# single element tuple
t = (1)
t2 = (1,)
t3 = 1,
type(t), type(t2),type(t3)

(int, tuple, tuple)

In [10]:
list_in_tuple = ([1,2,3],5)
list_in_tuple[0].append(4) # mutable
list_in_tuple[1] = 6 # immutable

TypeError: 'tuple' object does not support item assignment

## SET

In [13]:
s = {2,3,4,5}
s
s.add(10)
s
s.update([1,2,3,4,5])
s

{2, 3, 4, 5}

{2, 3, 4, 5, 10}

{1, 2, 3, 4, 5, 10}

In [24]:
s2 = {3,4,7}
s.union(s2), '==' , s | s2
s.intersection(s2), '==' , s & s2
s.difference(s2) , '==' , s - s2
s.symmetric_difference(s2) , '==' ,  s.union(s2)  -  s.intersection(s2) , '==' , s ^ s2
s.issubset(s2)

({3, 4, 5, 7}, '==', {3, 4, 5, 7})

({3, 4}, '==', {3, 4})

({5}, '==', {5})

({5, 7}, '==', {5, 7}, '==', {5, 7})

False

In [ ]:
s3 = {1,2,3,5}
s.union(s3) , s3.union(s)
s.intersection(s3) , s3.intersection(s)
s.difference(s3) , s3.difference(s)
s.symmetric_difference(s3) , s3.symmetric_difference(s)

s.issubset(s3) , s3.issubset(s)

({1, 2, 3, 4, 5, 10}, {1, 2, 3, 4, 5, 10})

({1, 2, 3, 5}, {1, 2, 3, 5})

({4, 10}, set())

({4, 10}, {4, 10})

(False, True)

In [ ]:
s
s.remove(10)
s
s.discard(2)
s

{1, 2, 3, 4, 5, 10}

{1, 2, 3, 4, 5}

In [21]:
s
s.discard(2) # silent discard , No error
s
s.remove(2) # KeyError
s

{1, 3, 4, 5}

{1, 3, 4, 5}

KeyError: 2

In [22]:
s
s.pop()
s

{1, 3, 4, 5}

1

{3, 4, 5}

### Frozen SET

immutable version of `SET` (like `tuple` for `list`)

In [26]:
set1 = frozenset([1,2,3,4,5])
set2 = frozenset([4,5,6,7,8])

set1 , set2

(frozenset({1, 2, 3, 4, 5}), frozenset({4, 5, 6, 7, 8}))

In [27]:
set1 | set2 , set1 & set2 , set1 - set2 , set1 ^ set2

(frozenset({1, 2, 3, 4, 5, 6, 7, 8}),
 frozenset({4, 5}),
 frozenset({1, 2, 3}),
 frozenset({1, 2, 3, 6, 7, 8}))

## DICT

In [29]:
d1 = dict(  [
    ('a', 1),
    ('b', 2),
    ('c', 3),
    ('d', 4),
    ('e', 5)
])
d2 = { 'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5 }
d1,d2,d1 == d2

({'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5},
 {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5},
 True)

In [32]:
d1['a'] , d1.get('a')

(1, 1)

In [34]:
d1['f']

KeyError: 'f'

In [35]:
d1.get('f')

In [ ]:
d1.pop('9', 'Not Found')
d1.pop('e', 'Not Found')

'Not Found'

5

In [37]:
d2.popitem() # removes and returns a random item

('e', 5)

In [ ]:
del d2['d']
d2

{'a': 1, 'b': 2, 'c': 3}

In [40]:
d3 = d2
d3['f'] = 23
d2

{'a': 1, 'b': 2, 'c': 3, 'f': 23}

In [41]:
d4 = { i: i**2 for i in range(10) }
d4

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

## Strings

In [43]:
st1 = 'mahanth_maha'
st1[0] = 'M' # strings are immutable

TypeError: 'str' object does not support item assignment

In [47]:
st1 = 'M' + st1[1:]
st1
para = 'this is a paragraph with multiple lines.This is the second line.This is the third line.'
para.lower()
para.upper()
para.capitalize()
para.title()
para.swapcase()

'Mahanth_maha'

'this is a paragraph with multiple lines.this is the second line.this is the third line.'

'THIS IS A PARAGRAPH WITH MULTIPLE LINES.THIS IS THE SECOND LINE.THIS IS THE THIRD LINE.'

'This is a paragraph with multiple lines.this is the second line.this is the third line.'

'This Is A Paragraph With Multiple Lines.This Is The Second Line.This Is The Third Line.'

'THIS IS A PARAGRAPH WITH MULTIPLE LINES.tHIS IS THE SECOND LINE.tHIS IS THE THIRD LINE.'

In [49]:
para.split('.')

['this is a paragraph with multiple lines',
 'This is the second line',
 'This is the third line',
 '']

In [52]:
para2 = '''A paragraph is a series of related sentences developing a central idea, called the topic.
Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea.
Paragraphs add one idea at a time to your broader argument.'''
para2.splitlines()

['A paragraph is a series of related sentences developing a central idea, called the topic.',
 'Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea.',
 'Paragraphs add one idea at a time to your broader argument.']

In [56]:
print('\n---\n'.join(para.split()))

this
---
is
---
a
---
paragraph
---
with
---
multiple
---
lines.This
---
is
---
the
---
second
---
line.This
---
is
---
the
---
third
---
line.

In [57]:
para2.find('paragraph')

2

In [58]:
para2
para2.replace('paragraph', 'section')
para2

'A paragraph is a series of related sentences developing a central idea, called the topic.\nTry to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea.\nParagraphs add one idea at a time to your broader argument.'

'A section is a series of related sentences developing a central idea, called the topic.\nTry to think about sections in terms of thematic unity: a section is a sentence or a group of sentences that supports one central, unified idea.\nParagraphs add one idea at a time to your broader argument.'

'A paragraph is a series of related sentences developing a central idea, called the topic.\nTry to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea.\nParagraphs add one idea at a time to your broader argument.'